name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
concurrency:
  group: ${{ github.repository }}-${{ github.ref }}-${{ github.head_ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build (Linux x86-64)
    runs-on: ubuntu-latest
    environment: pypi_release
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Rust 1.90.0
        uses: dtolnay/rust-toolchain@1.90.0
      
      - name: Build with locked dependencies
        run: cargo build --locked