name: Release to PyPI

on:
  workflow_dispatch:  # Manual trigger only
  push:
    tags:
      - "v[0-9]*"      # Trigger on version tags like v1.0.0

permissions:
  # IMPORTANT: this permission is mandatory for Trusted Publishing
  id-token: write
  contents: read

jobs:
  publish-binaries:
    name: Publish binaries
    runs-on: ${{ matrix.build.os }}
    environment: pypi_release
    strategy:
      fail-fast: false
      matrix:
        build:
          - {
              NAME: linux-x64-glibc,
              OS: ubuntu-24.04,
              TOOLCHAIN: stable,
              TARGET: x86_64-unknown-linux-gnu,
            }
          - {
              NAME: linux-x64-musl,
              OS: ubuntu-24.04,
              TOOLCHAIN: stable,
              TARGET: x86_64-unknown-linux-musl,
            }
          - {
              NAME: linux-arm64-glibc,
              OS: ubuntu-24.04-arm,
              TOOLCHAIN: stable,
              TARGET: aarch64-unknown-linux-gnu,
            }
          - {
              NAME: linux-arm64-musl,
              OS: ubuntu-24.04-arm,
              TOOLCHAIN: stable,
              TARGET: aarch64-unknown-linux-musl,
            }
          - {
              NAME: win32-x64-msvc,
              OS: windows-2025,
              TOOLCHAIN: stable,
              TARGET: x86_64-pc-windows-msvc,
            }
          - {
              NAME: darwin-arm64,
              OS: macos-15,
              TOOLCHAIN: stable,
              TARGET: aarch64-apple-darwin,
            }
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        shell: bash
        run: |
          if [[ "${{ matrix.build.NAME }}" = *"-musl" ]]; then
            sudo apt-get update
            sudo apt-get install -y --no-install-recommends \
              --allow-unauthenticated musl-tools
          fi

      - name: Install Rust ${{ matrix.build.TOOLCHAIN }}
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.build.TOOLCHAIN }}
          targets: ${{ matrix.build.TARGET }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.22"

      - name: Build Python wheels (linux x86-64 with sdist)
        if: matrix.build.TARGET == 'x86_64-unknown-linux-gnu'
        working-directory: pypi
        run: |
          uv build --wheel --sdist --out-dir dist

      - name: Build Python wheels (other platforms)
        if: matrix.build.TARGET != 'x86_64-unknown-linux-gnu'
        working-directory: pypi
        run: |
          uv build --wheel --out-dir dist

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.22"

      - name: Publish to PyPI
        run: uv publish --trusted-publishing always pypi/dist/*