name: Publish to crates.io

on:
  workflow_dispatch:
  push:
    tags:
      - "v[0-9]*"

permissions:
  id-token: write   # REQUIRED
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: crates_io_release

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Run tests
        run: cargo test

      - name: Authenticate with crates.io
        uses: rust-lang/crates-io-auth-action@v1

      - name: Publish to crates.io
        run: cargo publish
